<ng-template #haveData>
  <div class="text-center" role="status">
    <div class="grid">
      <ng-container 
        *ngTemplateOutlet="generalInfo">
      </ng-container>
      <div class="grid grid-cols-2 gap-5 md:xl:2xl:grid-cols-3 place-content-center">
        <ng-container 
          *ngTemplateOutlet="infoCard">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #generalInfo>
</ng-template>

<ng-template #infoCard>
</ng-template>

<ng-template #loader>
  <div class="wrapper">
    <span class="loader"></span>
  </div>
</ng-template>

<ng-template #notFound>
  <div 
    class="border-2 rounded-lg p-2 flex text-center items-center justify-center gap-2 rounded-lg text-4xl"
    id="not-found"
  >
    <i class="fa-regular fa-circle-xmark" id="not-found-icon"></i>
    <div>
      <h3 class="flex text-center items-center justify-center gap-2 rounded-lg text-4xl">
        Invalid city name provided: <strong>{{cityName}}</strong>
      </h3>
      <h3 class="flex text-center items-center justify-center gap-2 rounded-lg text-3xl">
        Please enter a valid city name!
      </h3>
    </div>
  </div>
</ng-template>

<div class="">
  <div class="p-5 lg:p-10">
    <div class="h-56 flex flex-col items-center justify-center ">
      <div class="text-black grid gap-5">
        <input 
          type="text" 
          class="bg-transparent outline-none border-b-2 w-96 h-12 pl-2 pr-2  capitalize"
          placeholder="Enter Your City Name"
          value={{cityName}} 
          (input)="onInputChange($event)" />
        <button class="bn3" type="" id="btn" (click)="onGetWeatherData()">
          Search
        </button>
      </div>
    </div>
    <ng-container 
      *ngTemplateOutlet="isLoading ? loader : null">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="!isLoading && !inputChanges && !weatherData?.name && !onInit ? notFound : null">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="!isLoading && !inputChanges && weatherData?.name ? haveData : null">
    </ng-container>
  </div>
</div>