<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/images/icon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Weather App with ExpressJS" />
    <link rel="apple-touch-icon" href="https://cdn-icons-png.flaticon.com/512/1146/1146869.png" />
    
    <!-- css -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    <!-- js -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Weather App with ExpressJS</title>
  </head>

  <body>
    <!-- header -->
    <p>header</p>
    
    <!-- body -->
    {{{body}}}

    <!-- footer -->
    <p>footer</p>

  </body>
</html>