@{
    ViewData["Title"] = "Weather App with ASP.NET Core";
    ViewData["AspUrl"] = "https://dotnet.microsoft.com/en-us/apps/aspnet/";
    ViewData["DataProviderUrl"] = "https://openweathermap.org/";
    ViewData["SourceCodeUrl"] = "https://github.com/mikegsCoder/Weather-App/";
    ViewData["Icon"] = "~/img/icon.ico";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href=@ViewData["Icon"] />
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" asp-append-version="true" />
</head>
<body>
    <!-- Header -->
    <partial name="_HeaderPartial" />

    <!-- Body -->
    <div class="p-5 lg:p-10">
        <div class="h-56 flex flex-col items-center justify-center ">
            <form asp-controller="Weather"
                  asp-action="WeatherInfo"
                  class="text-black grid gap-5">
                <input name="cityName"
                       type="text"
                       id="input"
                       class="text-2xl bg-transparent outline-none border-b-2 w-96 h-12 pl-2 pr-2 capitalize"
                       placeholder="Enter Your City Name"
                       oninput="onInputHandler()" />
                <button type="submit"
                        id="btn"
                        class="bn3 text-2xl"
                        onclick="displayLoader();">
                    Search
                </button>
            </form>
        </div>
        <!-- Root -->
        <div id="root">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <partial name="_FooterPartial" />

    <!-- JavaScript -->
    <script src="https://cdn.tailwindcss.com" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
